infra/tf-backend/.terraform.lock.hcl
infra/tf-backend/.terraform/
infra/tf-backend/tf-backend.plan
infra/tf-backend/terraform.tfstate
infra/tf-backend/terraform.tfstate.backup


infra/tf-app/.terraform.lock.hcl
infra/tf-app/.terraform/
infra/tf-app/tf-app.plan

infra/az-federated-credential-params/






